{{#if resume.education.length}}
<section>
	<h2>Education</h2>
	{{#each resume.education}}
    {{> section-item title=institution website=website startDate=startDate endDate=endDate}}
	{{/each}}
</section>
{{/if}}